nav {
  margin-bottom: 40px;
}

.form-login{
  margin-top: 50px;
}

.avatar{
    border-radius: 50%;
    height: 250px;
}

.bloco-aluno{
    margin-top: 20px;
    border: 2px solid #007bff;
    border-radius: 5px;
    background-color: #007bff;
}

.bloco-aluno a:link,.bloco-aluno a:visited {
    color: white;
    text-decoration: none;
}​
