nav {
  margin-bottom: 40px;
}

.form-login{
  margin-top: 50px;
}

.avatar{
    border-radius: 50%;
    height: 250px;
}

.nav-professor {
    background-color: rgb(66, 154, 18);
    color: white !important;

}

.bloco-aluno{
    margin-top: 20px;
    border: 2px solid rgb(66, 154, 18);
    border-radius: 5px;
    background-color: rgb(66, 154, 18);
}

.bloco-aluno a:link,.bloco-aluno a:visited {
    color: white;
    text-decoration: none;
}​
