@(pagina: String, estaLogado: Boolean, formulario: Form[modelos.InfoAluno])

@main(pagina, estaLogado){
    @helper.form(action = routes.HomeController.postEditar()){
        <fieldset class="text-center">
            @helper.inputText(formulario("Usuario"), 'id -> "usuario")
            @helper.inputText(formulario("Observacoes"), 'id -> "observacoes")
            @helper.inputText(formulario("Endereco"), 'id -> "endereco")
            @helper.inputText(formulario("Numero"), 'id -> "numero")
            <input class="btn btn-lg btn-success" type="submit" value="Login">
        </fieldset>
    }
}
