@(pagina: String, estaLogado: Boolean, aluno: InfoAluno, formulario: Form[modelos.InfoAluno])

@main(pagina, estaLogado, false){

    @helper.form(action = routes.HomeController.postEditar()){
        <div class="container">
            <h2 class="text-primary">@aluno.getNome()</h2>
            <fieldset>
                @helper.inputText(formulario("endereco"), 'id -> "endereco")
                @helper.inputText(formulario("bairro"), 'id -> "bairro")
                @helper.inputText(formulario("numero"), 'id -> "numero")
                @helper.inputText(formulario("observacoes"), 'id -> "observacoes", 'size -> 60)
                <!--<input class="btn btn-lg btn-success" type="submit" value="Login">-->
            </fieldset>
        </div>
        <ul class="nav nav-tabs justify-content-center" role="tab-list">
            <a class="nav-link active" href="#primeiro" role="tab" data-toggle="tab">Primeiro Trimestre</a>
            <a class="nav-link" href="#segundo" role="tab" data-toggle="tab">Segundo Trimestre</a>
            <a class="nav-link" href="#terceiro" role="tab" data-toggle="tab">Terceiro Trimestre</a>
        </ul>
        <div class="tab-content">
            <form id="notas">
            <div class="tab-pane fade show active text-center" id="primeiro" role="tabpanel">
                <table class="table">
                    <thead>
                    <tr>
                        <th width="90" class="text-center">Matéria</th>
                        <th width="65" class="text-center">Média notas</th>
                        <th width="85" class="text-center">Média faltas</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Português</td>
                        <!--<td>@aluno.getNota(1,1)</td>-->
                        <!--<td>@aluno.getFalta(1,1)</td>-->
                        <td>@helper.inputText(formulario("nota_1_portugues"), 'id -> "nota_1_portugues", 'size -> 3, '_label -> null)</td>
                        <td>@helper.inputText(formulario("falta_1_portugues"), 'id -> "falta_1_portugues", 'size -> 3, '_label -> null)</td>
                    </tr>
                    <tr>
                        <td>Matemática</td>
                        <!--<td>@aluno.getNota(1,2)</td>
                        <td>@aluno.getFalta(1,2)</td>-->
                        <td>@helper.inputText(formulario("nota_1_matematica"), 'id -> "nota_1_matematica", 'size -> 3, '_label -> null)</td>
                        <td>@helper.inputText(formulario("falta_1_matematica"), 'id -> "falta_1_matematica", 'size -> 3, '_label -> null)</td>
                    </tr>
                    <tr>
                        <td>Historia</td>
                        <!--<td>@aluno.getNota(1,3)</td>
                        <td>@aluno.getFalta(1,3)</td>-->
                        <td>@helper.inputText(formulario("nota_1_historia"), 'id -> "nota_1_historia", 'size -> 3, '_label -> null)</td>
                        <td>@helper.inputText(formulario("falta_1_historia"), 'id -> "falta_1_historia", 'size -> 3, '_label -> null)</td>
                    </tr>
                    <tr>
                        <td>Geografia</td>
                        <!--<td>@aluno.getNota(1,4)</td>
                        <td>@aluno.getFalta(1,4)</td>-->
                        <td>@helper.inputText(formulario("nota_1_geografia"), 'id -> "nota_1_geografia", 'size -> 3, '_label -> null)</td>
                        <td>@helper.inputText(formulario("falta_1_geografia"), 'id -> "falta_1_geografia", 'size -> 3, '_label -> null)</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade text-center" id="segundo" role="tabpanel">
                <table class="table">
                    <thead>
                    <tr>
                        <th width="90" class="text-center">Matéria</th>
                        <th width="65" class="text-center">Média notas</th>
                        <th width="85" class="text-center">Média faltas</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Português</td>
                        <!--<td>@aluno.getNota(1,1)</td>-->
                        <!--<td>@aluno.getFalta(1,1)</td>-->
                        <td>@helper.inputText(formulario("nota_2_portugues"), 'id -> "nota_2_portugues", 'size -> 3, '_label -> null)</td>
                        <td>@helper.inputText(formulario("falta_2_portugues"), 'id -> "falta_2_portugues", 'size -> 3, '_label -> null)</td>
                    </tr>
                    <tr>
                        <td>Matemática</td>
                        <!--<td>@aluno.getNota(1,2)</td>
                        <td>@aluno.getFalta(1,2)</td>-->
                        <td>@helper.inputText(formulario("nota_2_matematica"), 'id -> "nota_2_matematica", 'size -> 3, '_label -> null)</td>
                        <td>@helper.inputText(formulario("falta_2_matematica"), 'id -> "falta_2_matematica", 'size -> 3, '_label -> null)</td>
                    </tr>
                    <tr>
                        <td>Historia</td>
                        <!--<td>@aluno.getNota(1,3)</td>
                        <td>@aluno.getFalta(1,3)</td>-->
                        <td>@helper.inputText(formulario("nota_2_historia"), 'id -> "nota_2_historia", 'size -> 3, '_label -> null)</td>
                        <td>@helper.inputText(formulario("falta_2_historia"), 'id -> "falta_2_historia", 'size -> 3, '_label -> null)</td>
                    </tr>
                    <tr>
                        <td>Geografia</td>
                        <!--<td>@aluno.getNota(1,4)</td>
                        <td>@aluno.getFalta(1,4)</td>-->
                        <td>@helper.inputText(formulario("nota_2_geografia"), 'id -> "nota_2_geografia", 'size -> 3, '_label -> null)</td>
                        <td>@helper.inputText(formulario("falta_2_geografia"), 'id -> "falta_2_geografia", 'size -> 3, '_label -> null)</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade text-center" id="terceiro" role="tabpanel">
                <table class="table">
                    <thead>
                    <tr>
                        <th width="90" class="text-center">Matéria</th>
                        <th width="65" class="text-center">Média notas</th>
                        <th width="85" class="text-center">Média faltas</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Português</td>
                        <!--<td>@aluno.getNota(1,1)</td>-->
                        <!--<td>@aluno.getFalta(1,1)</td>-->
                        <td>@helper.inputText(formulario("nota_3_portugues"), 'id -> "nota_3_portugues", 'size -> 3, '_label -> null)</td>
                        <td>@helper.inputText(formulario("falta_3_portugues"), 'id -> "falta_3_portugues", 'size -> 3, '_label -> null)</td>
                    </tr>
                    <tr>
                        <td>Matemática</td>
                        <!--<td>@aluno.getNota(1,2)</td>
                        <td>@aluno.getFalta(1,2)</td>-->
                        <td>@helper.inputText(formulario("nota_3_matematica"), 'id -> "nota_3_matematica", 'size -> 3, '_label -> null)</td>
                        <td>@helper.inputText(formulario("falta_3_matematica"), 'id -> "falta_3_matematica", 'size -> 3, '_label -> null)</td>
                    </tr>
                    <tr>
                        <td>Historia</td>
                        <!--<td>@aluno.getNota(1,3)</td>
                        <td>@aluno.getFalta(1,3)</td>-->
                        <td>@helper.inputText(formulario("nota_3_historia"), 'id -> "nota_3_historia", 'size -> 3, '_label -> null)</td>
                        <td>@helper.inputText(formulario("falta_3_historia"), 'id -> "falta_3_historia", 'size -> 3, '_label -> null)</td>
                    </tr>
                    <tr>
                        <td>Geografia</td>
                        <!--<td>@aluno.getNota(1,4)</td>
                        <td>@aluno.getFalta(1,4)</td>-->
                        <td>@helper.inputText(formulario("nota_3_geografia"), 'id -> "nota_3_geografia", 'size -> 3, '_label -> null)</td>
                        <td>@helper.inputText(formulario("falta_3_geografia"), 'id -> "falta_3_geografia", 'size -> 3, '_label -> null)</td>
                    </tr>
                    </tbody>
                </table>
            </div>
                <div class="text-center"><input class="btn btn-lg btn-success" type="submit" value="Atualizar" id="atualizar"></div>
            </form>
        </div>
    }
}

