@(pagina: String, estaLogado: Boolean, aluno: InfoAluno, formulario: Form[modelos.InfoAluno])

@main(pagina, estaLogado, false){

    @helper.form(action = routes.HomeController.postEditar()){
        <div class="container">
            <h2 class="text-primary">@aluno.getNome()</h2>
            <fieldset>
                @helper.inputText(formulario("Endereco"), 'id -> "endereco")
                @helper.inputText(formulario("Bairro"), 'id -> "bairro")
                @helper.inputText(formulario("Numero"), 'id -> "numero")
                @helper.inputText(formulario("Observacoes"), 'id -> "observacoes", 'size -> 60)
                <!--<input class="btn btn-lg btn-success" type="submit" value="Login">-->
            </fieldset>
        </div>
        <ul class="nav nav-tabs justify-content-center" role="tab-list">
            <a class="nav-link active" href="#primeiro" role="tab" data-toggle="tab">Primeiro Trimestre</a>
            <a class="nav-link" href="#segundo" role="tab" data-toggle="tab">Segundo Trimestre</a>
            <a class="nav-link" href="#terceiro" role="tab" data-toggle="tab">Terceiro Trimestre</a>
        </ul>
        <div class="tab-content">
            <form id="notas">
            <div class="tab-pane fade show active text-center" id="primeiro" role="tabpanel">
                <table class="table">
                    <thead>
                    <tr>
                        <th width="90" class="text-center">Matéria</th>
                        <th width="65" class="text-center">Média notas</th>
                        <th width="85" class="text-center">Média faltas</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Português</td>
                        <td>@aluno.getNota(1,1)</td><span>@helper.inputText(formulario(""), 'id -> "nota_1_portugues")</span>
                        <td>@aluno.getFalta(1,1)</td>
                    </tr>
                    <tr>
                        <td>Matemática</td>
                        <td>@aluno.getNota(1,2)</td>
                        <td>@aluno.getFalta(1,2)</td>
                    </tr>
                    <tr>
                        <td>Geografia</td>
                        <td>@aluno.getNota(1,3)</td>
                        <td>@aluno.getFalta(1,3)</td>
                    </tr>
                    <tr>
                        <td>Historia</td>
                        <td>@aluno.getNota(1,4)</td>
                        <td>@aluno.getFalta(1,4)</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade text-center" id="segundo" role="tabpanel">
                <table class="table">
                    <thead>
                    <tr>
                        <th width="90" class="text-center">Matéria</th>
                        <th width="65" class="text-center">Média notas</th>
                        <th width="85" class="text-center">Média faltas</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Português</td>
                        <!--<td><a href="#">@aluno.getNota(1,1)</a></td>-->
                        <td>@aluno.getNota(2,1)</td>
                        <td>@aluno.getFalta(2,1)</td>
                    </tr>
                    <tr>
                        <td>Matemática</td>
                        <td>@aluno.getNota(2,2)</td>
                        <td>@aluno.getFalta(2,2)</td>
                    </tr>
                    <tr>
                        <td>Geografia</td>
                        <td>@aluno.getNota(2,3)</td>
                        <td>@aluno.getFalta(2,3)</td>
                    </tr>
                    <tr>
                        <td>Historia</td>
                        <td>@aluno.getNota(2,4)</td>
                        <td>@aluno.getFalta(2,4)</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade text-center" id="terceiro" role="tabpanel">
                <table class="table">
                    <thead>
                    <tr>
                        <th width="90" class="text-center">Matéria</th>
                        <th width="65" class="text-center">Média notas</th>
                        <th width="85" class="text-center">Média faltas</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Português</td>
                        <!--<td><a href="#">@aluno.getNota(1,1)</a></td>-->
                        <td>@aluno.getNota(3,1)</td>
                        <td>@aluno.getFalta(3,1)</td>
                    </tr>
                    <tr>
                        <td>Matemática</td>
                        <td>@aluno.getNota(3,2)</td>
                        <td>@aluno.getFalta(3,2)</td>
                    </tr>
                    <tr>
                        <td>Geografia</td>
                        <td>@aluno.getNota(3,3)</td>
                        <td>@aluno.getFalta(3,3)</td>
                    </tr>
                    <tr>
                        <td>Historia</td>
                        <td>@aluno.getNota(3,4)</td>
                        <td>@aluno.getFalta(3,4)</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <input class="btn btn-lg btn-success" type="submit" value="Login" id="atualizar">
            </form>
        </div>
    }
}

