@(title: String, estaLogado: Boolean)(content: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>@title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!--<meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/bootstrap/css/bootstrap.css")">

    </head>
    <body>
      <!--<nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="color: #8cc051 !important">-->
      <nav class="navbar navbar-light navbar-expand-lg nav-professor">
        <a class="navbar-brand" href="/">e-Diario</a>
        <!-- Descomentar para implementar em dispositivos moveis
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button> -->
         <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <!-- <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li> -->
			@if(estaLogado){
              <li class="nav-item active"><a class="nav-link" href="/logout">Logout</a></li>
			} else {
			  <li class="nav-item active"><a class="nav-link" href="/login">Aluno</a></li>
              <li class="nav-item active"><a class="nav-link" href="/login-prof">Professor(a)</a></li>
			}
          </ul>
        </div>
      </nav>
      @content
      <script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
    </body>
</html>
